*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	color: #333;
	font-family: 'Montserrat', '游ゴシック体', 'yu gothic', '游ゴシック', 'Yu Gothic', 'メイリオ', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', sans-serif !important;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a,
a:visited {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #707070;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 8px;
}

input:focus,
textarea:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}

textarea {
	resize: none;
}

input[type="submit"] {
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	border: none;
	outline: none;
}

input[type="submit"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #707070;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}
input[type="radio"] + span:hover::before {
	box-shadow: 0 0 3px rgba(59, 105, 255, 1);
	border: 1px solid rgba(59, 105, 255, 1);
}
input[type="radio"] + span:active::before {
	background: rgba(59, 105, 255, 0.6);
	border: 1px solid rgba(59, 105, 255, 1);
}

input[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"] + span:focus,
input[type="radio"] + span:checked {
	background: #3f51b5;
	border: 1px solid #fff;
	box-shadow: none;
	outline: none;
}

input[type="radio"]:checked + span::after {
	-webkit-transform: translateY(-50%);
	background: #3B69FF;
	border-radius: 50%;
	content: "";
	display: block;
	height: 0.6em;
	left: 0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.6em;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
	transition: all 0.3s ease 0s;
}

input[type="checkbox"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #707070;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}
input[type="checkbox"] + span:hover::before {
	box-shadow: 0 0 3px rgba(59, 105, 255, 1);
	border: 1px solid rgba(59, 105, 255, 1);
}
input[type="checkbox"] + span:active::before {
	background: rgba(59, 105, 255, 0.6);
	border: 1px solid rgba(59, 105, 255, 1);
}

input[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid #3f51b5;
	border-left: 3px solid #3f51b5;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 1em;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #707070;
	border-radius: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 8px 24px 8px 8px;
	width: 100%;
}
select::-ms-expand {
	display: none;
}
select:focus {
	border: 1px solid transparent;
	box-shadow: none;
	outline: none;
}
.inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1083px;
	height: 100%;
	padding: 0;
}
.section-title {
	font-size: 36px;
	font-weight: 700;
	padding-bottom: 36px;
	position: relative;
	text-align: center;
}
.floating {
	position: fixed;
    right: 16px;
    bottom: 64px;
    z-index: 30;
    display: none;
}
.floating a {
	display: block;
	color: #fff;
	background: #000;
	text-decoration: none;
	opacity: 0.6;
}
.floating a:hover {
	opacity: 1;
}
.drawer-hamburger {
	vertical-align: top;
}
.swiper-container,
.swiper-slide {
	width: 100vw;
	height: 100vh;
}
.swiper-slide > img {
	object-fit: cover; /* IE: not support */
	width: 100%;
	height: 100%;
}
.swiper-button-prev,
.swiper-button-next {
	width: 32px;
	height: 32px;
	margin-top: -16px;
}
.swiper-button-prev {
	background: url(../img/arrow-prev.png) no-repeat center center / contain;
}
.swiper-button-next {
	background: url(../img/arrow-next.png) no-repeat center center / contain;
}
.copy {
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.copy a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.copy a:hover {
	opacity: 0.6;
}

#totop {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#totop a img {
	width: 60px;
}
#totop a:hover {
	opacity: 0.6;
}
main {
    margin-top: 100px;
}
.wrap {
	overflow: hidden;
}
hr {
	width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border: 1px solid #374CA5;
	box-sizing: content-box;
	height: 0;
}
.sp-show {
	display: none;
}
.box {
    width: 100%;
    height: 100%;
}

/* header================================ */
#header {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    left: 0;
	z-index: 10;
	width: 100vw
}
#header > .inner {
	height: 100px;
    padding: 5px 50px 0;
    display: flex;
    justify-content: normal;
    align-items: center;
	background-color: #fff;
	width: auto;
}
.header-img > a:hover {
	text-decoration: none;
}
.header-img img {
	width: 28%;
}
.header-text p {
	font-size: 15px;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 5px;
}
.header-img > a > .ht {
    font-weight: 700;
    font-size: 40px;
}
/* .header-item {
	display: flex;
	flex-wrap: wrap;
} */
/* .header-item-list {
	padding-right: 40px;
} */
/* .header-item > li > a {
	color: #3E3E3E !important;
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	position: relative;
} */
/* .header-item > li > a::after {
	position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    background-color: #3B69FF;
    transition: all 0.3s ease 0s;
} */
/* .header-item > li > a:hover {
	opacity: 0.8;
	text-decoration: none;
	cursor: pointer;
} */
/* .header-item > li > a:hover::after {
	width: 100%;
} */
.drawer--right .drawer-hamburger {
	right: 0;
    top: 0;
    margin-top: 19px;
    margin-right: 50px;
    background-color: #fff20d;
}
.drawer-menu {
	text-align: center;
}
.drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
    height: 4px !important;
	border-radius: 10px;
}
.drawer-hamburger-icon {
	height: 4px !important;
	border-radius: 10px;
}
.drawer-navbar-header {
	background-color: #707070 !important;
	border-bottom: none !important;
}
.drawer-hamburger {
	vertical-align: top;
	/* display: none; */
	right: 18.66rem;
}
.drawer-nav {
	padding-top: 194px;
    align-items: center;
    text-align: center;
}
.drawer-menu {
	position: relative;
	display: inline-block;
	transition: .3s;
}
.drawer-menu > li > .drawer-menu-item {
	padding: 0;
    padding-bottom: 17px;
    color: #3E3E3E !important;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
}
.drawer-menu > li > .drawer-menu-item::after {
	position: absolute;
    bottom: 20px;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff20d;
    transition: all 0.3s ease 0s;
}
.drawer-menu > li > .drawer-menu-item:hover {
	text-decoration: none;
	cursor: pointer;
}
.drawer-menu > li > .drawer-menu-item:hover::after {
	width: 100%;
}

/* mv================================ */
#mv {
    /* max-width: 100%; */
    height: 800px;
}


/* contact================================ */
#contact {
	background-image: url(../img/alex-blajan-159378-unsplash.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
	left: 0;
	height: 850px;
}
.contact-form {
	height: auto;
    width: 976px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: 76px;
    left: 0;
}
.con-title {
	background-image: url(../img/contact1.png);
	background-size: cover;
	height: 206px;
	width: 100%;
}
/* .con-title {
    background-image: url(../img/contact1.png);
    background-size: cover;
    height: 206px;
    width: 98.4%;
    border-radius: 10px 10px 0 0;
    background-position-x: -10px;
    background-position-y: -10px;
    position: relative;
    left: 10px;
    top: 10px;
} */
.con-title > .section-title {
	padding-top: 69px;
	letter-spacing: 0.5px;
	padding-bottom: 43px;
}
.con-title > .section-para {
	text-align: center;
    position: relative;
    top: -32px;
    left: 0;
}
.con-title > .section-title, .con-title > .section-para {
	color: #FFF;
}
.contact-content {
	padding: 0 90px;
	margin-left: 8px;
	width: 98.4%;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
}
.contact-dl {
	font-size: 0;
}
.contact-label {
	font-size: 22px;
	font-weight: 400;
	padding-bottom: 3px;
	width: 200px;
	display: inline-block;
	vertical-align: top;
	color: rgba(62, 62, 62, 1)
}
.contact-required {
	background: #3f51b5;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    width: 55px;
	text-align: center;
	vertical-align: middle;
	padding: 2px 12px;
}
.con-re-1 {
    margin-left: 95px;
}
.con-re-2 {
    margin-left: 53px;
}
.contact-input {
	font-size: 22px;
	margin-bottom: 34px;
	width: 50%;
	margin-left: 76px;
	display: inline-block;
	vertical-align: top;
}
.con-input-1 {
	display: block;
	font-size: 22px;
	margin-bottom: 18px;
	width: 77.5%;
	margin-left: 0;
	vertical-align: top;
}
.contact-input input, .contact-input textarea {
	width: 129%;
	border: none;
}
.contact-input input {
    font-size: 22px;
    font-weight: 400;
    padding: 0 8px;
    border-bottom: 1px solid #707070;
    color: rgba(62, 62, 62, 0.5);
}
.contact-input input:hover {
	box-shadow: 0 4px 7px -7px rgba(59, 105, 255, 1);
	border-bottom: 1px solid rgba(59, 105, 255, 1);
	transition: all 0.3s ease 0s;
}
.contact-input textarea {
	height: 215px;
	padding: 0;
	border: 1px solid #707070;
}
.contact-input textarea:hover {
	box-shadow: 0 0px 5px rgba(59, 105, 255, 1);
	border: 1px solid rgba(59, 105, 255, 1);
	transition: all 0.3s ease 0s;
}
.con-mail input[type="text"] {
	font-weight: 600;
	color: rgba(62, 62, 62, 1);
	margin-bottom: 0;
}
.contact-input select {
	background: transparent url(../img/select-arrow.png) no-repeat center right 6px/13px 8px;
	border: 1px solid #707070;
	height: 32px;
	line-height: 32px;
	padding: 0 16px;
	width: 66.5%;
	font-size: 18px;
}
.contact-input select:hover {
	cursor: pointer;
	box-shadow: 0 0 3px rgba(59, 105, 255, 0.6);
}
.contact-radio {
	margin-bottom: 34px;
}
.contact-radio .man {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 71px;
}
.contact-radio .woman {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 24px;
}
.contact-radio input[type="radio"] {
	display: none;
}
.contact-radio input[type="radio"] + span {
	margin-left: 0;
	margin-right: 30px;
	padding: 0 0 0 27px;
	font-size: 23px;
}
.contact-radio input[type="radio"] + span::before {
	height: 12px;
	width: 12px;
}
.contact-radio input[type="radio"]:checked + span::after {
	height: 6px;
	width: 6px;
	left: 3px;
}
.contact-agreement {
	text-align: left;
}
.contact-agreement input[type="checkbox"] + span {
	margin: 0;
	padding-left: 41px;
	font-size: 18px;
}
.contact-agreement input[type="checkbox"] + span::before {
	height: 20px;
	width: 20px;
	border-radius: 0;
}
.contact-agreement input[type="checkbox"]:checked + span::after {
	border-bottom-width: 2px;
	border-left-width: 2px;
	height: 9px;
	width: 15px;
	left: 2px;
	top: 15px;
}
.contact-agreement a:hover {
	opacity: 0.6;
	text-decoration: none;
}
.signup-modal-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
	width: 100%;
}
#signup-modal {
	display: none;
}
.signup-modal {
	position: relative;
	top: 8%;
	background-color: #FFF;
	border-radius: 10px;
	width: 80%;
	margin: 0 auto;
}
#signup-form {
	width: 100%;
}
#signup-form > .section-title {
	font-size: 24px;
	font-weight: 700;
	padding-top: 65px;
	color: #707070;
}
#signup-form > .section-title::after {
	height: 2px;
	width: 20%;
	bottom: 15px;
}
#signup-form h2 {
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 40px;
}
.signup-info {
	width: 80%;
	margin: 30px auto 0;
}
.signup-info h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 18px;
}
.signup-info h3::before {
	position: relative;
	right: 17px;
	top: 0;
	content: '';
	border-left: 2px solid #3f51b5;
}
#close-modal img {
	position: relative;
	top: -20px;
	left: 97%;
}
#close-send {
	text-align: center;
}
#close-send input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 12px;
	background-color: #3F51B5;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	display: inline-block;
	width: 180px;
	height: 38px;
	line-height: 38px;
	max-width: 100%;
	margin-top: 19px;
	margin-bottom: 20px;
}
#close-send input[type="submit"]:hover {
	text-decoration: none;
	color: #fff;
}
.contact-send {
	margin-top: 27px;
	text-align: center;
}
.contact-send input[type="submit"] {
	-webkit-appearance: none;
    background-image: linear-gradient(to right, rgba(59, 105, 255, 1) 50%, rgba(255,242,13,1) 50%);
    background-position: 0 0;
    background-size: 200% auto;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    display: inline-block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    max-width: 100%;
}
.contact-send input[type="submit"]:hover {
	text-decoration: none;
    background-position: -100% 0;
    color: #333;
}

/* footer================================ */
footer {
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    background: #fff;
    color: #000;
    border-top: #fff20d 1px solid;
}
footer > .inner {
    margin: 0 auto;
    width: 100%;
    padding: 18px;
}
footer p {
    font-size: 0.8rem;
    text-align: center;
}
footer .policy a {
    color: #a2aeb6;
}	

@media screen and (max-width: 768px) {
	.con-re-1 {
		margin-left: 60px;
	}
	.con-re-2 {
		margin-left: 16px;
	}
	.contact-input {
		margin-left: 10px;
	}
	.contact-radio .man {
		margin-left: 10px;
	}
}

@media screen and (max-width: 567px) {
	main {
		margin-top: 110px;
	}
	#mv {
		height: 400px;
	}
	#header > .inner {
		height: 68px;
		padding: 0 20px;
	}
	.drawer--right .drawer-hamburger {
		right: -34px;
		top: -16px;
	}
	.contact-content {
		padding: 10px;
		margin-left: 0;
	}
	.contact-input input, .contact-input textarea {
		width: 120%;
	}
	.header-img > a > .ht {
		font-size: 30px;
	}

}

@media screen and (max-width: 376px) {
	#contact {
		height: 700px;
	}
	.contact-form {
		top: 15px;
	}
	.contact-content {
		padding: 10px;
		margin-left: 0;
		width: 98.4%;
	}
	.contact-label {
		font-size: 15px;
		padding-bottom: 3px;
		width: 122px;
	}
	.contact-input {
		font-size: 15px;
		margin-bottom: 20px;
		width: 53%;
		margin-left: 10px;
	}
	.contact-input input {
		font-size: 15px;
	}
	.contact-input select {
		padding: 0 16px;
		width: 85.5%;
		font-size: 15px;
	}
	.con-re-1 {
		margin-left: 15px;
	}
	.contact-required {
		font-size: 12px;
	}
	.contact-radio .man {
		margin-left: 10px;
	}
	.contact-radio input[type="radio"] + span {
		margin-left: 0;
		margin-right: 10px;
		font-size: 18px;
	}
	.contact-radio .woman {
		margin-left: 10px;
	}
	.contact-input {
		/* margin-left: 10px; */
	}
	.con-input-1 {
		font-size: 15px;
		width: 84.5%;
		margin-left: 0;
	}
	.contact-agreement input[type="checkbox"] + span {
		font-size: 15px;
	}
}
